# Python
__pycache__/
*.py[cod]

# Virtual environment
backend/venv/

# Jupyter
.ipynb_checkpoints/

# Node
frontend/node_modules/
frontend/dist/

# Environment variables
frontend/.env

# macOS
.DS_Store